INSERT INTO test_names (`Test_name`, `Full_name`, `Sub_group`) VALUES ( '{{ instrument.sql_table_name }}', '{{ instrument.instrument_name }}', 1 ); 

-- REPLACE Sub_group above if desired (Default is Behavioral Assessment). E-Lab values are: 
-- 1	Behavioral Assessments
-- 2	Parent-Reported Measures
-- 3	Enrich
-- 4	Imaging
-- 5	Screening
-- 6	Scores